In [2]:
from sqlalchemy import create_engine
import pandas as pd
import re

# connect to the remote database
cnx = create_engine('postgresql://aleksandra:Cg79010240@localhost/aleksandra')

# Cleaning the data

## 1. Bike Share data

In [ ]:
df = pd.read_sql_query('''SELECT * FROM bikeshare ORDER BY bikeshare.rideid LIMIT 500''',cnx)

In [ ]:
df.head(100)

In [ ]:
df.dtypes

To do:
* convert usertype to integer: 1 for registered user, 0 for occasional costumer.
* transfrom birthyear to integer, insert 0 for unknown.
* add start date truncated to hour column (necessary for matching with weather data)

ALTER TABLE bikeshare ADD COLUMN "user_dummy" int;

UPDATE  bikeshare
SET user_dummy = 1
WHERE usertype = 'Subscriber';

UPDATE  bikeshare
SET user_dummy = 0
WHERE usertype = 'Customer';

For converting the birthyear into an integer (it was imported as text because the empty fileds gave errors), I had to first insert a string '0' into the empty fields, and then cast into integer type. SET DATA TYPE was not pissbile, it cannot be used to convert text/varchar to integers.

UPDATE bikeshare
SET birthyear = '0'
WHERE birthyear = '';

ALTER TABLE bikeshare
ALTER COLUMN birthyear
TYPE integer USING (birthyear::integer);

ALTER TABLE bikeshare ADD COLUMN start_hour timestamp;

UPDATE bikeshare
SET start_hour = date_trunc('hour', starttime);

To [determine](http://www.movable-type.co.uk/scripts/latlong.html) the [bearing between the initial and the final point](https://gist.github.com/jeromer/2005586):

In [ ]:
import math

def bearing(lon1, lon2, lat1, lat2):
    '''The long and latitude have to be in radians'''
    difference_lon = lon2 - lon1
    y = math.sin(difference_lon) * math.cos(lat2)
    x = math.cos(lat1)*math.sin(lat2) - math.sin(lat1)*math.cos(lat2)*math.cos(difference_lon)
    bearing = math.degrees(math.atan2(y, x))
    compass_bearing = (bearing + 360) % 360
    return compass_bearing

In [ ]:
lat1 = pd.read_sql_query('''SELECT rideid, startstationlatitude FROM bikeshare ORDER BY rideid''', cnx)
lat2 = pd.read_sql_query('''SELECT rideid, endstationlatitude FROM bikeshare ORDER BY rideid''', cnx)
lon1 = pd.read_sql_query('''SELECT rideid, startstationlongitude FROM bikeshare ORDER BY rideid''', cnx)
lon2 = pd.read_sql_query('''SELECT rideid, endstationlongitude FROM bikeshare ORDER BY rideid''', cnx)

In [ ]:
lat1.head()

In [ ]:
lat2.head()

Queries return dataframes. I will join them on rideid into a geo df. Also, table is unordered, so I will order by rideid in order to make sure that the extracted geocoordinates correspond on a row to row basis.

In [ ]:
geos = pd.DataFrame()
geos = lon1.merge(lon2, on='rideid')
geos = geos.merge(lat1, on='rideid')
geos = geos.merge(lat2, on='rideid')
#geos['lon1'] = lon1
#geos['lon2'] = lon2
#geos['lat1'] = lat1
#geos['lat2'] = lat2

In [ ]:
geos.head()

In [ ]:
bearings = []

for index, row in geos.iloc[:, 1:].iterrows():
    lon1 = row.startstationlongitude
    lon2 = row.endstationlongitude
    lat1 = row.startstationlatitude
    lat2 = row.endstationlatitude
    bearings.append(bearing(lon1, lon2, lat1, lat2))

In [ ]:
geos['bearing'] = bearings

In [ ]:
geos.head()

Some of the bikes end up in the same station as where they started (ex. rideid 5). We do not want a bearing for those, instead, insert 'None'.

In [ ]:
def bearing_to_cardinal(bearing):
    if 22.5<bearing<67.5:
        cardinal = 'NE'
    elif 67.5<bearing<112.5:   
        cardinal = 'E'
    elif 112.5<bearing<157.5:   
        cardinal = 'SE'
    elif 157.5<bearing<202.5:
        cardinal = 'S'
    elif 202.5<bearing<247.5:
        cardinal = 'SW'
    elif 247.5<bearing<292.5:
        cardinal = 'W'
    elif 292.5<bearing<337.5:
        cardinal = 'NW'
    elif bearing == 0:
        cardinal = 'None'   
    else:
        cardinal = 'N'
    return cardinal

In [ ]:
geos['cardinal'] = geos.bearing.apply(bearing_to_cardinal)

In [ ]:
geos.head()

In [ ]:
geos.dtypes

Create a table in the database with the geodata:

CREATE TABLE geodata (
	rideid int NOT NULL,
	lon1 float8 NOT NULL,
    lon2 float8 NOT NULL,
    lat1 float8 NOT NULL,
    lat2 float8 NOT NULL,
    bearing float8 NOT NULL,
    cardinal text NOT NULL
);

Insert the df into the table. Create table in DB with df.to_sql is problematic: column headers are not recognized which makes querying impossible. I will save as csv and copy into table.

In [ ]:
geos.to_csv('geodata.csv')

CREATE TABLE geodata (
	index int,
	rideid int,
	lon1 float8,
	lon2 float8,
	lat1 float8,
	lat2 float8,
	bearing float8,
	cardinal text,
	PRIMARY KEY (rideid)
);

COPY geodata FROM '/home/aleksandra/geodata.csv' DELIMITER ',' CSV HEADER;

## 2. Weather data

The weather data is very dirty, and PSQL is not made for data cleaning, so I will do it with pandas instead. The dataset is not that big.

In [3]:
df = pd.read_csv('weatherdata.csv')

In [4]:
df.head()

,Unnamed: 0,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYDRYBULBTEMPC,HOURLYWETBULBTEMPC,HOURLYWindSpeed,HOURLYWindDirection,HOURLYPrecip
0,28549,01/01/16 00:51,FM-15,OVC:08 37,10.00,5.6,2.4,5.0,VRB,0.00
1,28550,01/01/16 01:51,FM-15,OVC:08 36,10.00,5.0,2.0,3.0,VRB,0.00
2,28551,01/01/16 02:51,FM-15,OVC:08 34,10.00,5.0,2.1,5.0,280,0.00
3,28552,01/01/16 03:51,FM-15,OVC:08 31,10.00,5.0,2.1,9.0,280,0.00
4,28553,01/01/16 04:51,FM-15,OVC:08 44,10.00,4.4,1.7,10.0,270,0.00

In [5]:
df = df.drop('Unnamed: 0', 1)

Some of the columns are not in the right datatype:

In [6]:
df.dtypes

DATE                    object
REPORTTPYE              object
HOURLYSKYCONDITIONS     object
HOURLYVISIBILITY        object
HOURLYDRYBULBTEMPC     float64
HOURLYWETBULBTEMPC     float64
HOURLYWindSpeed        float64
HOURLYWindDirection     object
HOURLYPrecip            object
dtype: object

In [7]:
df.dropna().shape

(8838, 9)

In [8]:
def to_numeric(series, s):
    return pd.to_numeric(series.apply(lambda x: re.sub(s, '', x)))

In [9]:
df.HOURLYVISIBILITY.unique()

array(['10.00', '9.00', '5.00', '8.00', '7.00', '4.00', '2.50', '3.00',
       '1.50', '1.75', '2.00', '1.25', '0.75', '1.00', '6.00', '0.50',
       '0.25', '0.00', '2.50V', '1.50V', '2.00V', '1.75V', '0.75V',
       '0.50V', '1.00V'], dtype=object)

In [10]:
df.HOURLYVISIBILITY = to_numeric(df.HOURLYVISIBILITY, 'V')

In [11]:
df[df.HOURLYPrecip=='T']

,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYDRYBULBTEMPC,HOURLYWETBULBTEMPC,HOURLYWindSpeed,HOURLYWindDirection,HOURLYPrecip
155,09/01/16 12:51,FM-15,OVC:08 16,5.00,7.8,6.1,6.0,50,T
168,10/01/16 01:51,FM-15,OVC:08 7,7.00,7.8,6.6,11.0,70,T
169,10/01/16 02:51,FM-15,OVC:08 7,8.00,7.8,6.6,15.0,70,T
190,10/01/16 10:45,FM-16,OVC:08 5,1.75,14.0,13.2,11.0,180,T
312,15/01/16 21:51,FM-15,BKN:07 65,10.00,7.8,6.1,8.0,60,T
315,16/01/16 00:51,FM-15,FEW:02 5 BKN:07 70 OVC:08 110,7.00,7.2,5.8,6.0,60,T
316,16/01/16 01:06,FM-16,BKN:07 4 BKN:07 50 OVC:08 70,4.00,6.7,5.8,8.0,70,T
327,16/01/16 06:51,FM-15,OVC:08 43,7.00,6.1,5.0,8.0,300,T
362,17/01/16 15:51,FM-15,OVC:08 21,0.75,-0.6,-2.0,7.0,VRB,T
365,17/01/16 18:29,FM-16,SCT:04 10 OVC:08 35,2.00,-1.1,-2.2,5.0,VRB,T
368,17/01/16 19:07,FM-16,BKN:07 12 OVC:08 16,3.00,-1.1,-2.2,0.0,0,T
369,17/01/16 19:51,FM-15,BKN:07 11 OVC:08 80,7.00,-1.1,-2.2,3.0,VRB,T
379,18/01/16 06:32,FM-16,FEW:02 24 BKN:07 31 OVC:08 49,1.75,-5.6,-6.9,14.0,VRB,T
380,18/01/16 06:43,FM-16,BKN:07 32 OVC:08 49,3.00,-5.0,-6.6,16.0,310,T
381,18/01/16 06:51,FM-15,FEW:02 25 OVC:08 35,9.00,-5.0,-6.8,13.0,310,T
485,22/01/16 22:39,FM-16,OVC:08 28,3.00,-2.8,-4.9,7.0,VRB,T
486,22/01/16 22:51,FM-15,OVC:08 28,3.00,-2.8,-4.8,8.0,60,T
487,22/01/16 23:03,FM-16,OVC:08 27,2.50,-2.8,-4.8,9.0,60,T
488,22/01/16 23:24,FM-16,OVC:08 23,1.50,-3.3,-5.0,9.0,60,T
490,23/01/16 00:19,FM-16,VV:09 15,0.75,-3.9,-5.0,8.0,60,T
531,23/01/16 22:01,FM-16,SCT:04 26 OVC:08 37,2.50,-3.3,-4.9,14.0,10,T
532,23/01/16 22:34,FM-16,OVC:08 34,3.00,-2.8,-4.5,13.0,VRB,T
533,23/01/16 22:51,FM-15,OVC:08 38,5.00,-2.8,-4.8,11.0,VRB,T
534,23/01/16 23:51,FM-15,BKN:07 37 OVC:08 48,4.00,-2.8,-4.5,5.0,VRB,T
535,24/01/16 00:37,FM-16,OVC:08 29,2.50,-3.3,-4.9,11.0,VRB,T
536,24/01/16 00:51,FM-15,OVC:08 29,4.00,-3.3,-5.0,8.0,VRB,T
537,24/01/16 01:04,FM-16,OVC:08 33,5.00,-2.8,-4.8,14.0,VRB,T
538,24/01/16 01:19,FM-16,OVC:08 37,2.50,-3.3,-5.2,6.0,VRB,T
539,24/01/16 01:51,FM-15,OVC:08 30,5.00,-3.3,-5.4,13.0,20,T
540,24/01/16 02:51,FM-15,BKN:07 55,10.00,-3.3,-5.7,6.0,VRB,T
...,...,...,...,...,...,...,...,...,...
8104,30/11/16 22:07,FM-16,OVC:08 4,3.00,10.6,10.2,7.0,VRB,T
8113,01/12/16 01:51,FM-15,OVC:08 3,2.50,11.1,10.8,0.0,0,T
8116,01/12/16 04:51,FM-15,FEW:02 50 BKN:07 85 OVC:08 100,10.00,11.1,9.8,5.0,VRB,T
8158,03/12/16 02:51,FM-15,FEW:02 35 SCT:04 43 OVC:08 60,10.00,6.1,3.1,6.0,VRB,T
8199,05/12/16 02:51,FM-15,BKN:07 34 OVC:08 45,10.00,5.0,2.4,5.0,60,T
8238,06/12/16 17:51,FM-15,OVC:08 33,10.00,7.2,4.2,9.0,70,T
8253,07/12/16 08:51,FM-15,OVC:08 8,3.00,4.4,3.6,5.0,40,T
8313,11/12/16 16:51,FM-15,FEW:02 28 OVC:08 44,8.00,0.0,-1.9,0.0,0,T
8314,11/12/16 17:10,FM-16,FEW:02 19 SCT:04 24 OVC:08 33,2.50,-0.6,-2.0,3.0,210,T
8315,11/12/16 17:18,FM-16,BKN:07 17 BKN:07 24 OVC:08 31,1.75,-0.6,-1.8,5.0,170,T
8316,11/12/16 17:35,FM-16,OVC:08 14,1.25,-0.6,-1.6,0.0,0,T
8320,11/12/16 19:00,FM-16,BKN:07 14 BKN:07 20 OVC:08 27,2.00,-0.6,-1.5,7.0,VRB,T
8321,11/12/16 19:08,FM-16,FEW:02 12 BKN:07 18 OVC:08 37,2.50,-0.6,-1.5,6.0,140,T
8322,11/12/16 19:15,FM-16,SCT:04 16 BKN:07 22 OVC:08 42,4.00,-0.6,-1.5,6.0,VRB,T
8323,11/12/16 19:24,FM-16,SCT:04 18 OVC:08 48,7.00,-0.6,-1.5,7.0,160,T
8324,11/12/16 19:51,FM-15,FEW:02 60 OVC:08 90,9.00,0.0,-1.3,0.0,0,T
8348,12/12/16 08:51,FM-15,OVC:08 8,5.00,5.0,4.4,6.0,VRB,T
8455,17/12/16 03:09,FM-16,BKN:07 38 OVC:08 50,1.75,-2.8,-4.6,15.0,VRB,T
8494,18/12/16 07:51,FM-15,OVC:08 11,6.00,9.4,9.1,7.0,280,T
8499,18/12/16 14:32,FM-16,FEW:02 11 BKN:07 19 OVC:08 32,7.00,13.3,12.3,18.0,300,T
8642,24/12/16 12:00,FM-16,OVC:08 7,3.00,4.4,4.2,0.0,0,T
8643,24/12/16 12:42,FM-16,OVC:08 10,5.00,5.6,4.7,9.0,270,T
8648,24/12/16 13:51,FM-15,BKN:07 70 OVC:08 90,8.00,6.1,5.3,7.0,VRB,T
8699,26/12/16 15:51,FM-15,OVC:08 17,5.00,4.4,3.9,6.0,110,T
8761,29/12/16 08:51,FM-15,BKN:07 28 OVC:08 36,7.00,5.0,3.1,7.0,180,T
8772,29/12/16 13:58,FM-16,SCT:04 7 BKN:07 11 OVC:08 25,2.50,7.2,6.9,6.0,220,T
8806,30/12/16 16:51,FM-15,FEW:02 12 BKN:07 43 OVC:08 50,9.00,1.1,-0.3,5.0,VRB,T
8807,30/12/16 17:04,FM-16,FEW:02 12 BKN:07 30 OVC:08 50,1.75,1.1,-0.1,10.0,VRB,T
8808,30/12/16 17:11,FM-16,FEW:02 12 OVC:08 26,1.25,1.1,0.2,8.0,VRB,T
8809,30/12/16 17:17,FM-16,FEW:02 6 OVC:08 18,0.50,0.6,-0.2,7.0,VRB,T

In [12]:
# T means trace amount. I will substitute it by 0.
df.HOURLYPrecip = df.HOURLYPrecip.apply(lambda x: re.sub('T', '0', x))

In [13]:
df.HOURLYPrecip = to_numeric(df.HOURLYPrecip, 's')

In [15]:
len(df.HOURLYWindDirection[df.HOURLYWindDirection == 'VRB'])

3998

Hourlywinddirection has a lot of 'variable wind direction'. If I coerce them into a number, I will have too many null values. I will keep them in the df like this.

In [ ]:
# df.HOURLYWindDirection = pd.to_numeric(df.HOURLYWindDirection, errors = 'coerce')

In [16]:
df.dtypes

DATE                    object
REPORTTPYE              object
HOURLYSKYCONDITIONS     object
HOURLYVISIBILITY       float64
HOURLYDRYBULBTEMPC     float64
HOURLYWETBULBTEMPC     float64
HOURLYWindSpeed        float64
HOURLYWindDirection     object
HOURLYPrecip           float64
dtype: object

In [17]:
df.DATE = pd.to_datetime(df.DATE)

In [18]:
df.shape

(8838, 9)

In [19]:
df.dropna().shape

(8838, 9)

Create table in DB with df.to_sql is problematic: column headers are not recognized which makes querying impossible. I will save as csv and copy into table.

In [21]:
df.to_csv('weatherdata/weatherdata_clean.csv')

CREATE TABLE IF NOT EXISTS WeatherData (
    index SERIAL PRIMARY KEY,
	date timestamp NOT NULL,
	reporttype varchar DEFAULT NULL,
	skycondition varchar DEFAULT NULL,
	visibility float8 DEFAULT NULL,
	drybulbtempc float8 DEFAULT NULL,
    wetbulbtempc float8,
	windspeed float8 DEFAULT NULL,
	winddirection text DEFAULT NULL,
	Precip float8 DEFAULT NULL
);

COPY weatherdata FROM '/home/aleksandra/weatherdata/weatherdata_clean.csv' DELIMITER ',' CSV HEADER;

Truncate the datetime to hour, in order to be able to match with the bike share data:

UPDATE weatherdata
SET DATE = date_trunc('hour', DATE);