In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
cnx = create_engine('####')

In [7]:
data = pd.read_sql_query('''SELECT DISTINCT ON (startstationname) 
startstationlatitude, startstationlongitude, startstationname, startstationid
FROM bikeshare;''', cnx)

In [8]:
data.head()

,startstationlatitude,startstationlongitude,startstationname,startstationid
0,40.750664,-74.001768,10 Ave & W 28 St,489
1,40.668627,-73.987001,10 St & 5 Ave,3317
2,40.666208,-73.981999,10 St & 7 Ave,3306
3,40.751396,-74.005226,11 Ave & W 27 St,458
4,40.760301,-73.998842,11 Ave & W 41 St,478

In [9]:
data.to_csv('citibike_stations.csv')